.App {
  text-align: center;
}

.button-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

button {
  margin: 5px;
}

.hidden {
  display: none;
}

.error {
  color: red;
  font-size: 12px;
}